/*---------- body style----------------  */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}


/* ----------product card-------------- */
.single-product {
  padding: 10px;
  transition: 0.6s;
}

/* ---------product card hover ----------------- */
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}

/*---------- details button --------------------- */
#details-btn {
  background-color: rgb(247, 162, 4);

}

/*---------- product cart----------------------  */
.cart {
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
}